.menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  background-color: #333333; }

.logo {
  display: inline-block;
  vertical-align: top;
  padding: 6px 0; }

.links-nav {
  padding: 0px 25px;
  float: right; }
  .links-nav a {
    display: inline-block;
    vertical-align: top;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 50px;
    text-decoration: none;
    opacity: 0.7;
    margin-left: 20px; }
    .links-nav a:hover {
      color: #ffffff;
      opacity: 1; }

.page {
  padding-top: 80px; }

.menu-nav {
  padding: 20px 10px; }
  .menu-nav span {
    color: #666666;
    font-size: 16px;
    font-weight: 600; }
  .menu-nav a {
    display: block;
    color: #777777;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-decoration: none;
    padding: 6px 0; }
    .menu-nav a:hover {
      color: #333333; }
    .menu-nav a.active {
      color: #e66f1a; }
  .menu-nav .nav .nav {
    padding-top: 10px;
    padding-bottom: 20px; }

.sidebar {
  display: table-cell;
  vertical-align: top;
  width: 180px; }

.page-content {
  display: table-cell;
  vertical-align: top;
  padding-left: 60px;
  padding-bottom: 80px; }

.page-info {
  margin-bottom: 30px; }

img {
  max-width: 100%; }

h1 {
  line-height: 50px;
  font-size: 34px;
  font-weight: 800;
  color: #333333;
  margin-bottom: 0; }

h2 {
  font-size: 25px;
  font-weight: 600;
  color: #333333;
  margin-bottom: 20px;
  margin-top: 30px; }

h3 {
  font-size: 21px;
  font-weight: 400;
  color: #333333;
  margin-bottom: 20px;
  margin-top: 30px; }

p, ul li {
  color: #444444;
  font-size: 15px;
  line-height: 23px; }

a {
  color: #e66f1a;
  font-weight: 300; }
  a:hover {
    color: #b95914; }

hr {
  height: 0.25em;
  padding: 0;
  margin: 24px 0;
  background-color: #e7e7e7;
  border: 0; }

.page-content > table {
  width: 100%;
  border: 1px solid #efefef;
  margin-bottom: 16px;
  border-radius: 3px;
  border-collapse: separate; }
  .page-content > table td {
    font-size: 14px;
    padding: 7px 15px; }
  .page-content > table th {
    border-bottom: 1px solid #efefef;
    padding: 10px 15px; }
  .page-content > table tr:nth-child(even) {
    background-color: #fbfbfb; }

blockquote {
  padding: 0 1em;
  color: #777;
  border-left: 0.25em solid #ddd; }

blockquote > :first-child {
  margin-top: 0; }

blockquote > :last-child {
  margin-bottom: 0; }

code {
  color: #4D4D4C; }

code, tt {
  margin: 0 2px;
  padding: 0 5px;
  white-space: nowrap;
  background-color: #fbfbfb;
  font-family: monospace, Consolas,"Liberation Mono",Menlo,Courier,monospace; }

pre code {
  margin: 0;
  padding: 0;
  white-space: pre;
  border: none;
  background: transparent; }

.highlight {
  font-family: monospace, Consolas,"Liberation Mono",Menlo,Courier,monospace;
  background-color: #fbfbfb;
  border: 1px solid #efefef;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 0;
  border-radius: 3px; }
  .highlight table {
    width: 100%; }
    .highlight table .gutter, .highlight table .code {
      border: 0; }
    .highlight table .gutter {
      white-space: nowrap;
      border-right: 1px solid #efefef; }
      .highlight table .gutter pre {
        color: #999; }
    .highlight table .code {
      width: 99%; }

.highlight pre {
  background-color: #fbfbfb;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px;
  margin-bottom: 0; }

pre code, pre tt {
  background-color: transparent;
  border: none; }

.editor, .editor .gutter {
  background-color: #FFFFFF;
  color: #4D4D4C; }

.editor.is-focused .cursor {
  border-color: #AEAFAD; }

.editor.is-focused .selection .region {
  background-color: #D6D6D6; }

.editor.is-focused .line-number.cursor-line-no-selection, .editor.is-focused .line.cursor-line {
  background-color: #EFEFEF; }

.comment {
  color: #8E908C; }

.keyword.operator.class, .constant.other, .source.php.embedded.line {
  color: #666969; }

.variable, .support.other.variable, .string.other.link, .string.regexp, .entity.name.tag, .entity.other.attribute-name, .meta.tag, .declaration.tag, .markup.deleted.git_gutter {
  color: #C82829; }

.constant.numeric, .constant.language, .support.constant, .constant.character, .variable.parameter, .punctuation.section.embedded, .keyword.other.unit {
  color: #F5871F; }

.entity.name.class, .entity.name.type.class, .support.type, .support.class {
  color: #C99E00; }

.string, .constant.other.symbol, .entity.other.inherited-class, .entity.name.filename, .markup.heading, .markup.inserted.git_gutter {
  color: #718C00; }

.keyword.operator, .constant.other.color {
  color: #3E999F; }

.entity.name.function, .meta.function-call, .support.function, .keyword.other.special-method, .meta.block-level, .markup.changed.git_gutter {
  color: #4271AE; }

.keyword, .storage, .storage.type {
  color: #8959A8; }

.invalid {
  color: #FFFFFF;
  background-color: #C82829; }

.meta.separator {
  color: #FFFFFF;
  background-color: #4271AE; }

.invalid.deprecated {
  color: #FFFFFF;
  background-color: #8959A8; }

.markup.inserted.diff, .markup.deleted.diff, .meta.diff.header.to-file, .meta.diff.header.from-file {
  color: #FFFFFF; }

.markup.inserted.diff, .meta.diff.header.to-file {
  background-color: #718c00; }

.markup.deleted.diff, .meta.diff.header.from-file {
  background-color: #c82829; }

.meta.diff.header.from-file, .meta.diff.header.to-file {
  color: #FFFFFF;
  background-color: #4271ae; }

.meta.diff.range {
  font-style: italic;
  color: #3e999f; }

body {
  font-family: 'Open Sans'; }

.wrapper {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px; }
