.entry {
  position: relative;
  cursor: pointer;
  padding: 0px 11px;
  border-bottom: 1px solid @pageBuilderChromeBorders;

  .info-holder {
    display: table;
    width: 100%;
    table-layout: fixed;
    >* {
      display: table-cell;
      vertical-align: top;
    }
  }
  .title {
    font-size: 10px;
    text-transform: uppercase;
    color: #efefef;
    line-height: 60px;
  }
  .info {
    font-size: 10px;
    color: #efefef;
    float: right;
    line-height: 60px;
  }

  &:hover, &.selected {
    background-color: @pageBuilderChromeDarker;
  }
}
