h1 {
  line-height: 50px;
  font-size: 34px;
  font-weight: 800;
  color: $highlightColor;
  margin-bottom: 0;
}

h2 {
  font-size: 25px;
  font-weight: 600;
  color: $highlightColor;
  margin-bottom: 20px;
  margin-top: 30px;
}

p, ul li {
  color: $subColor;
  font-size: 15px;
  line-height: 23px;
}

a {
  color: $primary;
  font-weight: 300;

  &:hover {
    color: darken($primary, 10%);
  }
}
