// Colors
$bordersColor: #efefef;
$primary: #e66f1a;
$menuColor: #333333;
$highlightColor: #333333;
$subColor: #444444;

// Sizes
$menuHeight: 50px;

@import './_menu';
@import './_content';
@import './_typography';
@import './_code';

body {
  font-family: 'Open Sans';
}

.wrapper {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
}
